img {
    vertical-align: middle;
    border-style: none;
    width: 350px;
    height: 250px;
    margin-bottom:15px
  }

  .wrapper {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 25px 0 50px;
    justify-content: space-around;
    align-content: flex-start;
    background:darkblue
  }